.mouse-glow {

  position:fixed;

  width:250px;

  height:250px;

  border-radius:50%;


  background:

  radial-gradient(

    circle,

    rgba(34,211,238,0.25),

    transparent 70%

  );


  pointer-events:none;


  transform:translate(-50%,-50%);


  z-index:0;


  filter:blur(20px);


}





.particles {


  position:fixed;


  inset:0;


  overflow:hidden;


  pointer-events:none;


  z-index:0;


}





.particle {


  position:absolute;


  width:6px;


  height:6px;


  background:#22d3ee;


  border-radius:50%;


  opacity:.5;


  animation:float 10s infinite;


}





.particle:nth-child(1){

left:10%;

top:20%;

animation-delay:0s;

}


.particle:nth-child(2){

left:30%;

top:70%;

animation-delay:2s;

}


.particle:nth-child(3){

left:50%;

top:30%;

animation-delay:4s;

}


.particle:nth-child(4){

left:80%;

top:60%;

animation-delay:1s;

}


.particle:nth-child(5){

left:90%;

top:20%;

animation-delay:3s;

}





@keyframes float {


0%{

transform:translateY(0);

opacity:.3;

}



50%{

transform:translateY(-80px);

opacity:1;

}



100%{

transform:translateY(0);

opacity:.3;

}


}