.theme-btn{


width:42px;

height:42px;


border-radius:50%;


border:none;


cursor:pointer;


display:flex;

align-items:center;

justify-content:center;


color:white;


background:

linear-gradient(

135deg,

#ec4899,

#7c3aed

);


transition:.3s;


}


.theme-btn:hover{


transform:rotate(20deg) scale(1.1);


}